@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
        overflow-x: hidden;
    }
    body::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }
}

@layer components {
    .bg-primary {
        background: rgb(99, 18, 39);
        background: linear-gradient(
            0deg,
            rgba(99, 18, 39, 1) 0%,
            rgba(191, 43, 66, 1) 100%
        );
    }

    .bg-secondary {
        background: rgb(147, 28, 12);
        background: linear-gradient(
            90deg,
            rgba(147, 28, 12, 1) 0%,
            rgba(143, 32, 16, 1) 100%
        );
    }

    .hero1-heading {
        background: rgb(248, 216, 126);
        background: linear-gradient(
            0deg,
            rgba(248, 216, 126, 1) 0%,
            rgba(180, 143, 68, 1) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
    }

    /* bounce animation */

    @keyframes bounce {
        0% {
            transform: translateY(0) translateX(0);
        }
        50% {
            transform: translateY(-20px) translateX(20px);
        }
        100% {
            transform: translateY(0) translateX(0);
        }
    }

    .bounce {
        animation: bounce 3s infinite;
    }

    @keyframes leftright {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(20px);
        }
        100% {
            transform: translateX(0);
        }
    }

    .leftright {
        animation: leftright 4s infinite;
    }

    .hero {
        @apply sticky h-screen;
    }
}
