@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
    }
    body::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }
}

@layer components {
    .bg-primary {
        background: rgb(99, 18, 39);
        background: linear-gradient(
            0deg,
            rgba(99, 18, 39, 1) 0%,
            rgba(191, 43, 66, 1) 100%
        );
    }

    .hero1-heading {
        background: rgb(248, 216, 126);
        background: linear-gradient(
            0deg,
            rgba(248, 216, 126, 1) 0%,
            rgba(180, 143, 68, 1) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
    }
}
